
body{
    background-image: linear-gradient(to left,#2f55b4, #538bdf,#2d72cc, #51A9F0, #1b3c7a );
}
img{
    width: 180px;
    margin: auto;
    display: block;
}

h1{
    color: rgb(6, 155, 26);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 5px;
}

h3 a{
width: 100px;
border-radius: 5px;
text-decoration: none;
color: rgb(26, 25, 25);
background-image: linear-gradient(#0bad2e, #009c08, #2f8b27);
border: 1px solid rgb(0, 0, 0);
text-align: center;
font-family: cursive;
margin: auto;
display: block;

}


h3 a:hover{
    text-decoration: underline;
    color: black;
    background: rgb(12, 182, 26);
   




}

